/*Global Styles*/
.myContainer{
    width: 100%;
    margin-top: 20px;
    padding: 5% 5%;
    min-height: 200px;
}

/*Header Section*/
#content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#content .textContainer{
    padding: 10px 5%;
    display:inline-block;
    max-width: 800px;
}
.profile-img {
  width: 216px;
  float: left;
  display: inline;
  margin-left: 30px;
  height: 216px;
  object-fit: cover;
}
#greeting-container {
  margin-top: 20px;
}

/*Project Section*/
#projects{
    background-color: lavenderblush;
}
#projects .navbar-dark{
    background-color: #3a5688;
    color: white;
    cursor: pointer;
    border: solid 1px white;
}
#projects h2{
    margin-bottom: 20px;
}
.project .project-desc{
    display:none;
    background-color: white;
    padding: 5%;
}
.open .project-desc{
    display:block;
    background-color: white;
    padding: 5%;
}
/*Social Media Section*/
#socialMedia{
    margin:20px 0;
}
#socialMedia .fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
  border-radius: 50%;
}
#socialMedia .fa:hover {
    opacity: 0.7;
}
#socialMedia .fa-github {
  background: #252c30;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/*Gallery Section*/
#gallery{
    height: 600px;
    padding: 0 0;
    margin: 0 0;
    margin-bottom: 20px;
}
#gallery h3{
    margin: 20px 20px;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    padding: 10px 10px;
    z-index: 10;
}
.w-100 { /*Bootstrap slide images class*/
    object-fit: cover;
    object-position: 50% 50%; 
    height: 600px;
}

/*Skills Section*/
#skills{
    margin: 40px;
}
.col-md-6 {
    margin: 10px 0;
}

/* Comments section */

#comments{
  color: white;
  background-color: #3a5688;
  min-height: 900px;
}

#comments-list{
    display:inline;
}

#comments form{
    float:left;
}

#comments span{
  color:#FFFFFF;
  font-size:28px;
  display:block;
  margin:30px 0 30px 0;
}

#comments #pageNumber{
  color: #FFFFFF;
  font-size: 20px;
  display: inline;
  margin: 0 0;
}

#comments input[type="text"]{
  background:rgba(255,255,255,0.4);
  border:none;
  height:30px;
  display:block;
  margin-bottom:10px;
  width:400px;
  padding:5px;
  font-size:16px;
  font-family:source_sans;
  color:white;
}

#comments textarea{
  width:400px;
  height:200px;
  background:rgba(255,255,255,0.4);
  color:white;
  border:none;
  resize:none;
  padding:5px;
  font-size:16px;
  font-family:source_sans;
}

#comments ::-webkit-input-placeholder {
   color: #FFFFFF;
}

#comments :-moz-placeholder { /* Firefox 18- */
   color: #FFFFFF;  
}

#comments ::-moz-placeholder {  /* Firefox 19+ */
   color: #FFFFFF;  
}

#comments :-ms-input-placeholder {  
   color: #FFFFFF;  
}

#comments input[type="submit"]{
  border:none;
  padding:15px;
  color: #3a5688;
  background: #fff0f5;
  font-size:16px;
  font-family:source_sans;
  display:block;
  margin-top:10px;
  margin-bottom:10px;
  cursor: pointer;
}

#comments input[type="submit"]:hover{
  background:#8e435c;
  color:white;
}

#comments input[type="submit"]:active{
  background:#FFFFFF;
  color:black;
}

#comments input:focus,textarea:focus{
  outline:1px solid #FFFFFF;
}

#comments-section{
    float:right;
}

#comments-section .w3-card-4{
  width:550px;
  margin: 20px 20px;
  background-color: rgba(255,255,255,0.4);
}
#comments-section header{
  background-color:#fff0f5;
  color:#3a5688;
}
#comments-section p{
  margin: 1em 1em;
}
#comments-section footer{
  color:white;
  background-color:#8e435c;
}
.comment-date{
  float:left;
}
.comment-author{
  float:right;
}
.check-login{
  margin-bottom:20px;
  display: none;
}
.open{
    display:block;
}
.hide{
    display:none;
}