@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

.row {
  font-family: 'Playfair Display SC', serif;
}

#greeting-container {
  margin-top: 20px;
}

#jumbotron-intro {
  background-color: black ;
  color: white;
}

.about-title {
  font-weight: bold;
}

.about-p{
  font-size: large;
  text-align: justify;
  text-indent: 40px;
}

.text {
  display: flex;
  flex-direction: column-reverse;
}

#toasty {
  height: 200px;
  position: absolute;
  right: 0;
}

.img-desciption {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 3px;
}

#img-snow {
  margin-top: 5px;
}

#about-button {
  font-weight: bold;
  font-size: larger;
  margin: 10px;
}

#fact-container {
  font-weight: 400;
}

.footer {
  padding-bottom: 5px;
  background-color: black;
  color: white;
  width: 100%;
  margin: 0px;
  text-align: center;
}
