
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap');
#content {
  margin-left: auto;
  margin-right: auto;
  background-color: red;
}

#greeting-container {
  margin-top: 20px;
}
.jumbotron-image {
    max-height:100px;
}
.display-4 {
  font-family: 'Playfair Display SC', serif;
}
p{
  font-family: 'Playfair Display SC', serif;
  font-weight: 400;
}
.jumbotron {
  color: white;
  background-color: black !important;
}